<div class="container page-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="category-member">
        <img src="/images/game.png" class="category-cover" alt="">
        <i class="vote-count">3</i>
        <h3 class="category-name">louis</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="category-member">
        <img src="/images/game.png" class="category-cover" alt="">
        <i class="vote-count">3</i>
        <h3 class="category-name">louis</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="category-member">
        <img src="/images/game.png" class="category-cover" alt="">
        <i class="vote-count">3</i>
        <h3 class="category-name">louis</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="category-member">
        <img src="/images/game.png" class="category-cover" alt="">
        <i class="vote-count">3</i>
        <h3 class="category-name">louis</h3>
      </div>
    </div>
  </div>
</div>
