<div class="container page-container">
  <div class="row">
    <div class="col-xs-4" ng-repeat="character in characters">
      <div class="category-member">
        <img ng-src={{character.coverurl}} class="category-cover" alt="">
        <i class="vote-count">{{character.votes}}</i>
        <i class="glyphicon add-favor" ng-class="{'glyphicon-heart': character.is_vote, 'glyphicon-heart-empty': !character.is_vote}" ng-click="vote(character)"></i>
        <h3 class="category-name">{{character.name}}</h3>
      </div>
    </div>
  </div>
  <loading-spinner loading="loading"></loading-spinner>
  <div class="text-center" ng-show="isEmptyData">没有更多了...</div>
</div>
