<div class="container page-container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 add-character-panel clearfix">
      <avatar></avatar>
      <div class="form-group" ng-class="{'has-error': invalidUsernameForm}">
        <label class="control-label" for="nameIpt">名字</label>
        <input type="text" class="form-control" ng-class="{'error-tip-shake': invalidUsername}" id="nameIpt" placeholder="sample: Louis Zhu" ng-model="userName" ng-blur="checkUsername(userName)">
      </div>
      <div class="form-group" ng-class="{'has-error': invalidCoverUrlForm}">
        <label class="control-label">头像</label>
        <dl class="cover-upload">
          <dt class="update-method">
            <a href="javascript: void(0);" class="method-item text-center">选择本地文件</a>
            <a href="javascript: void(0);" class="method-item text-center active">填写网络图片地址</a>
          </dt>
          <dd class="upload-ctn">
            <div class="update-ctn-item">
              <label class="btn btn-default btn-block" for="userCover">选择文件</label>
              <input class="hidden" type="file" id="userCover">
            </div>
            <div class="update-ctn-item">
              <input type="text" class="form-control" ng-class="{'error-tip-shake': invalidCoverUrl}" placeholder="请填写完整的图片地址" ng-model="userCoverUrl" ng-blur="checkCoverUrl(userCoverUrl)">
            </div>
          </dd>
        </dl>
      </div>
      <div class="form-group">
        <button class="btn btn-outline btn-block" ng-class="{disabled: isloading}" ng-disabled="isloading" ng-click="addCharacter()">保存</button>
      </div>
      <div class="form-group" ng-show="saveSuccess">
        <p class="text-success text-center"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存成功(1s后跳转到首页)</p>
      </div>
      <div class="form-group" ng-show="saveError">
        <p class="text-danger text-center"><i class="glyphicon glyphicon-remove"></i>&nbsp;保存失败</p>
      </div>
    </div>
  </div>
</div>
