.update-method
  height: 40px
  line-height: 38px
  font-size: 0
  border: 1px solid #ccc
  .method-item
    display: inline-block
    vertical-align: middle
    width: 50%
    height: 100%
    font-size: 13px
    color: #666
    background: #fff
    &:first-child
      border-right: 1px solid #ccc
    &:hover,&.active
      background: #f5f5f5
.upload-ctn
  padding: 50px 15px
  background: #fff
  min-height: 100px
  border-right: 1px solid #ccc
  border-bottom: 1px solid #ccc
  border-left: 1px solid #ccc
  .update-ctn-item
    display: none
    &:nth-child(2)
      display: block
