*
  box-sizing: border-box
html,body,h1,h2,h3,h4,h5,ul,dl,dt,dd
  margin: 0
  padding: 0
body
  padding-top: 50px
  font-size: 14px
  background: #f7f8f9
ul
  list-style: none
img
  display: block
i
  font-style: normal
a:link,a:visited,a:hover,a:active
  text-decoration: none

.page-container
  padding-top: 30px
  padding-bottom: 30px

.btn-outline
  color: #563d7c
  background-color: transparent
  border-color: #563d7c
  &:active, &:focus, &:hover
    color: #fff
    background-color: #563d7c
    border-color: #563d7c
